.App {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    text-align: center;
    background-color: rgb(186, 247, 158);
  }
  div {
    /* padding-right: 2vh; */
    text-align: center;
    /* padding-top: 0vh; */
    height: 100vh;
    width: 100%;
    margin-top: 20vh;
    /* margin-left: 6vh;  */
    /* background-color: rgb(240, 237, 229); */
    border-radius: 4vh;
  }
  .btn {
    cursor: pointer;
    height: 4vh;
    width: 15vh;
    border-radius: 20vh;
    background-color: yellow;
  }
  .btn:hover {
    background-color: blue;
    color: white;
  }
  